@{
    ViewData["Title"] = "Register";
}

@model CasaDelight.ViewModels.RegisterViewModel

<div class="container col-md-offset-2">
    <div class="row">
        <div class="col">
            <div class="card justify-content-center">
                <div class="card-header text-center">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form asp-action="Register" method="post">

                                <div class="form-group col">
                                    <label asp-for="Name">Name</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group col">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group col">
                                    <label asp-for="Password">Password</label>
                                    <input type="password" asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group col">
                                    <label asp-for="ConfirmPassword">Confirm Password</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group col">
                                    <div class="d-grid gap-2 d-md-block">
                                        <input type="submit" class="btn btn-primary" value="Register" onclick="return alert('Successfully registered!')" />
                                        <input type="reset" class="btn btn-danger" value="Cancel" />
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="col-md-10">
                        If already a registered user?<a asp-action="Login"> Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
