@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cart";
}

@model ICollection<CasaDelight.Models.Models.Dish>

<div class="container col-md-offset-2">
    <div class="row">
        <div class="col">
            <div class="card justify-content-center">
                <div class="card-header text-center">
                    <h2>Summary</h2>
                </div>

                <div class="card-body">

                    <div class="row">

                        <table class="table-borderless table-responsive text-center">
                            <thead>
                                <tr>
                                    <th width="20%">Item Name</th>
                                    <th width="10%">Quantity</th>
                                    <th width="15%">Price</th>
                                    <th width="15%">Action</th>
                                </tr>
                            </thead>
                            <tbody class="p-2">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.DishName</td>
                                        <td><input type="number" min="0" id="quantity" /></td>
                                        <td>$</td>
                                        <td><a asp-action="" asp-controller="" class="btn btn-danger btn-sm">Remove</a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3">Total Cost:</th>
                                    <th>$</th>
                                </tr>
                            </tfoot>
                         </table>           
                    </div>

                </div>

                <div class="card-footer">
                    <div class="col">
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-info float-right" asp-action="" asp-controller="">Place order</a>
                            <a class="btn btn-info float-left" asp-action="Index" asp-controller="Order">Continue Buying</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
@*@model CasaDelight.Models.Models.Order

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var item in Model)
                {

                        <label>Enter your Phone No.</label>
                        <input type="number" asp-for="@item.PhoneNumber" min="10" />

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="return confirm('Your order has been placed successfully!')">Save changes</button>
            </div>
        </div>
    </div>
</div>*@

<script src="~/js/site.js"></script>