@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Welcome To Casa Delight</h1>
    <img src="~/bg.jpg" class="img-fluid" />
    <p></p>
</div>
