@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{  
    ViewData["Title"] = "Details";
}

@model Dish 

    <form method="post" asp-action="Details">
        <div class="card">
            <img class="card-img-top" src="@Html.DisplayFor(model => model.DishImage)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.DishName)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.DishDesc)</p>
                <a asp-action="Index" class="btn btn-primary">Back</a>
            </div>
        </div>
    </form>
