<div class="card">

    <div class="card-header">Add a Blog</div>

    <div class="card-body">

      <form>

                <div class="form-group">
                    <label for="blogtitle">Title</label>
                    <input type="text" class="form-control" id="blogtitle" 
                    required [(ngModel)]="blog.BlogTitle" aria-describedby="blogtitle" placeholder="">
                </div>

                <div class="form-group">
                    <label for="blogcontent">Content</label>
                    <textarea class="form-control" id="blogcontent" rows="8"
                    required [(ngModel)]="blog.BlogContent"></textarea>
                </div>

                <button type="submit" (click)="addBlog()" class="btn btn-primary">Submit</button>

      </form>

    </div>

</div>
