<div class="row">
    <div class="col-8 mx-auto">
        <div class="card">
            <div class="card-header">Add a Blog</div>
            <div class="card-body">

        
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" placeholder="" required [(ngModel)]="data.blogTitle"/>
                    </div>
            
                    <div class="form-group">
                        <label>Content</label>
                        <textarea placeholder="" class="form-control" required [(ngModel)] = "data.blogContent" rows="5">
                        </textarea>
                    </div>
                    
                    <div class="form-group">
                        <button (click)="addNewBlog()"class="btn btn-primary">Submit</button>
                    </div>
        

            </div>
        </div>
    </div>
</div>

